{% extends 'base.html' %}

{% block content %}

<br><br>
<div class="row">

    <div class="row d-flex justify-content-center">

        <div class="col-lg-4 col-md-8">
            <div class="card p-4 shadow-sm">
                <div class="card-header">
                    <button class="btn btn-dark col-12" >
                        Shipping Details
                    </button>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'billing_info' %}">
                        {% csrf_token %}
                        <table class="table">
                            <tr>
                                <td><strong>Full Name:</strong></td>
                                <td>{{ shipping_info.shipping_full_name }}</td>
                            </tr>
                            <tr>
                                <td><strong>Email:</strong></td>
                                <td>{{ shipping_info.shipping_email }}</td>
                            </tr>
                            <tr>
                                <td><strong>Address 1:</strong></td>
                                <td>{{ shipping_info.shipping_address_1 }}</td>
                            </tr>
                            <tr>
                                <td><strong>Address 2:</strong></td>
                                <td>{{ shipping_info.shipping_address_2}}</td>
                            </tr>
                            <tr>
                                <td><strong>City:</strong></td>
                                <td>{{ shipping_info.shipping_city }}</td>
                            </tr>
                            <tr>
                                <td><strong>State:</strong></td>
                                <td>{{ shipping_info.shipping_state }}</td>
                            </tr>
                            <tr>
                                <td><strong>Zipcode:</strong></td>
                                <td>{{ shipping_info.shipping_zipcode }}</td>
                            </tr>
                            <tr>
                                <td><strong>Country:</strong></td>
                                <td>{{ shipping_info.shipping_country }}</td>
                            </tr>
                       </table>
                       <a href="{% url 'checkout' %}">
                        <button class="btn btn-success col-12">Update Shipping Details</button>   
                       </a>
                    </form>
                </div>
            </div>
        </div>
    <br/>
    
    
        <div class="col-lg-4 col-md-8">
            <div class="card p-4 shadow-sm">
                <div class="card-header">
                    <button class="btn btn-dark col-12" >
                        Billing Information
                    </button>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'process_order' %}">
                        {% csrf_token %}
                        {{ billing_form.as_p }}
                    <button type="submit" class="btn btn-warning btn-lg col-12">
                        PAY NOW!
                    </button>
                    </form>
                </div>
            </div>
        </div>
    <br>
    
    
    
        <div class="col-lg-4 col-md-8">
            <div class="card p-4 shadow-sm">
                <div class="card-header">
                    <button class="btn btn-dark col-12" >
                        Cart totals
                    </button>
                </div>
                <div class="card-body">
                    <div class="container my-5"></div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Subtotal</td>
                                        <td class="text-end">$ {{ totals }}</td>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td class="text-end">$ {{ shipping }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total</td>
                                        <td class="text-end fw-bold">$ {{ grand_total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
        
                </div>
            </div>
        </div>
    <br>
    

    </div>



</div>
<br><br>

{% endblock %}