{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block content %}

<div class="overflow-auto">
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Checkout</h1>
            </div>
        </div>
    </header>
    <br><br>
</div>

<div class="container">
    <div class="row justify-content-center">
        <!-- Cart Products Section (col-lg-8) -->
        <div class="col-lg-8">
            {% for product in cart_products %}
            <div class="card mb-3" style="max-width: 960px;">
                <div class="row no-gutters">
                    <!-- First Column: Product Image -->
                    <div class="col-md-2">
                        <img src="{{ product.image.url }}" class="card-img" alt="Product Image">
                    </div>
                    
                    <!-- Second Column: Product Information -->
                    <div class="col-md-3">
                        <div class="card-body">
                            <strong>{{ product }}</strong>
                            {% if product.is_sale %}
                            &nbsp; &nbsp;
                            <button type="button" class="btn btn-warning btn-sm">Sale!</button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Third Column: Price Details -->
                    <div class="col-md-3">
                        <div class="card-body">
                            <p class="card-text">
                                {% if product.is_sale %}
                                    Unit Price: ${{ product.sale_price }}
                                {% else %}
                                    Unit Price: ${{ product.price }}
                                {% endif %}
                            </p>
                            <p class="card-text">
                               Quantity: 
                               {% for key, value in quantities.items %}
                               {% if key == product.id|slugify %}
                               {{ value }}
                               {% endif %}
                               {% endfor %}
                            </p>
                        </div>
                    </div>

                    <!-- Fourth Column: Actions (Add to Wishlist and Remove) -->
                    <div class="col-md-3">
                        <div class="card-body text-center">
                            <button type="button" class="btn btn-danger btn-sm mb-2" data-toggle="tooltip" data-placement="bottom" title="Add to Wishlist">
                                <i class="fa-solid fa-heart"></i> Add to Wishlist
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Remove from Cart">
                                <i class="fa fa-trash" aria-hidden="true"></i> Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="container my-5">
                <div class="card p-4 shadow-sm">
                    <h4 class="fw-bold">Cart totals</h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Subtotal</td>
                                <td class="text-end">$ {{ totals }}</td>
                            </tr>
                            <tr>
                                <td>Shipping</td>
                                <td class="text-end">$ {{ shipping }}</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td class="text-end fw-bold">$ {{ grand_total }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Form Section (col-lg-4) -->
        <div class="col-lg-4">
            <div class="card p-4 shadow-sm">
                <div class="card-header">
                    <button class="btn btn-dark col-12" >
                        Shipping Details
                    </button>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'billing_info' %}">
                        {% csrf_token %}
                        {{ shipping_form.as_p }}
                        <div class="d-grid">
                            <br>
                            <button class="btn btn-dark btn-lg" type="submit">
                              PAY NOW!
                            </button>
                          </div>
      
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<br><br>

{% endblock %}
