{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Categories</h1>
            <p class="lead fw-normal text-white-50 mb-0">Choose Your Category Below...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <br><br>
            <ul class="list-group">
                <div class="row">
                {% for category in categories %}
                    <div class="col-lg-3 col-md-4 mb-4"> <!-- 3 columns on large screens, 2 on medium screens -->
                        <div class="card" style="width: 100%;"> <!-- Set card width to 100% to fit column size -->
                            <img class="card-img-top" src="{{ category.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ category }}</h5>
                                <p class="card-text">{{ category.description }}</p>
                                <a href="{% url 'category' category %}" class="btn btn-primary">Explore Products</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </ul>
            <br><br>
        </center>
    </div>
</div>


{% endblock %}